In [1]:
import pandas as pd

file_to_load = "EmployeeSQL/employees.csv"

employees = pd.read_csv(file_to_load)
employees_df = pd.DataFrame(employees)

In [2]:
employees_df

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991
...,...,...,...,...,...,...,...
300019,464231,s0001,8/14/1958,Constantino,Eastman,M,10/28/1988
300020,255832,e0002,5/8/1955,Yuping,Dayang,F,2/26/1995
300021,76671,s0001,6/9/1959,Ortrud,Plessier,M,2/24/1988
300022,264920,s0001,9/22/1959,Percy,Samarati,F,9/8/1994
300023,464503,s0002,5/31/1964,Arvind,Slobodova,M,11/23/1987

In [3]:
# pd.to_datetime(employees_df["birth_date"])
employees_df["birth_date"] = pd.to_datetime(employees_df["birth_date"], format="%m/%d/%Y")

In [5]:

employees_df["hire_date"] = pd.to_datetime(employees_df["hire_date"], format="%m/%d/%Y")
employees_df

        emp_no emp_title_id birth_date   first_name  last_name sex  hire_date
0       473302        s0001 1953-07-25     Hideyuki   Zallocco   M 1990-04-28
1       475053        e0002 1954-11-18        Byong  Delgrande   F 1991-09-07
2        57444        e0002 1958-01-30        Berry       Babb   F 1992-03-21
3       421786        s0001 1957-09-28        Xiong   Verhoeff   M 1987-11-26
4       282238        e0003 1952-10-28   Abdelkader    Baumann   F 1991-01-18
...        ...          ...        ...          ...        ...  ..        ...
300019  464231        s0001 1958-08-14  Constantino    Eastman   M 1988-10-28
300020  255832        e0002 1955-05-08       Yuping     Dayang   F 1995-02-26
300021   76671        s0001 1959-06-09       Ortrud   Plessier   M 1988-02-24
300022  264920        s0001 1959-09-22        Percy   Samarati   F 1994-09-08
300023  464503        s0002 1964-05-31       Arvind  Slobodova   M 1987-11-23

[300024 rows x 7 columns]

In [10]:
employees_df

employees_clean = pd.DataFrame(employees_df)
employees_clean.to_csv("employees_clean.csv")